<ion-content [fullscreen]="true" class="onboarding">
   <!-- Background with Phone Image -->
   <div class="onboarding-image">
    <img src="assets/phone-outline.svg" alt="Phone Outline" />
  </div>

  <!-- Content Section -->
  <div class="onboarding-content">
    <h1>Blue Novelty</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <!-- Dots Indicator -->
    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <!-- Buttons -->
    <ion-button expand="block" class="primary-button" (click)="navigateRegistration()">Get started</ion-button>
    <ion-button expand="block" fill="outline" class="secondary-button" (click)="navigateToLogin()">Sign in</ion-button>

    

    <!-- Link -->
    <!-- <ion-text>
      <a href="#" class="admin-link">Sign in as Admin</a>
    </ion-text> -->
  </div>
</ion-content>
