
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Messenger</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list *ngIf="chatUsers.length > 0">
  <ion-list-header class="ion-padding-bottom" color="light">
    RECENT CHATS
  </ion-list-header>

  <ion-item *ngFor="let user of chatUsers" (click)="openChat(user)" [detail]="true">
    <ion-avatar slot="start">
      <img [src]="user?.photo || 'assets/default-avatar.png'" />
    </ion-avatar>
    <ion-label>
      <h2>{{ user?.name }}</h2>
      <p>Tap to chat</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-text *ngIf="chatUsers.length === 0" class="ion-padding">
  No chats yet. Start a conversation!
</ion-text>
